package sort_arrows

templ Component() {
	<svg class="icon icon--sm icon--sort" fill="currentColor" viewBox="0 0 24 24">
		<path d="M7 8l5-5 5 5z"></path>
		<path d="M7 16l5 5 5-5z"></path>
	</svg>
}
