package unsupported_viewer

templ Component(filePath string) {
	<div>
		<div>
			<p>
				This file type cannot yet be viewed directly
			</p>
		</div>
		<div>
			<a href={ "/files/" + filePath } class="file-viewer-download-btn" download>
				Download file
			</a>
		</div>
	</div>
}
