package file_explorer

import "autobutler/internal/server/ui/types"

templ dnd(pageState types.PageState) {
	<div
		id="file-upload-area"
		class="dnd-overlay"
		ondragenter="activateDropZone(event)"
		ondragover="preventDefault(event)"
		ondragleave="deactivateDropZone(event)"
		ondrop={ templ.JSFuncCall("dropFiles", templ.JSExpression("event"), "", pageState.RootDir) }
		onclick="document.getElementById('file-upload-input').click()"
	>
		Drop files here&#8230;
	</div>
}
