package file_explorer

import "autobutler/internal/server/ui/types"

templ dnd(pageState types.PageState) {
	<div
		id="file-upload-area"
		class="dnd-overlay"
		hx-on:dragenter="activateDropZone(event)"
		hx-on:dragover="preventDefault(event)"
		hx-on:dragleave="deactivateDropZone(event)"
		hx-on:drop={ templ.JSFuncCall("dropFiles", templ.JSExpression("event"), "", pageState.RootDir) }
		hx-on:click="document.getElementById('file-upload-input').click()"
	>
		Drop files here&#8230;
	</div>
}
