package header

templ Component() {
	<head>
		<script src="/public/vendor/tailwind/tailwind.3.4.16.js"></script>
		<script src="/public/vendor/htmx/htmx.min.js"></script>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Autobutler - Your home assistant</title>
		<link rel="icon" type="image/x-icon" href="/public/favicons/48x48.ico"/>
		<link rel="stylesheet" href="/public/styles/site.css" type="text/css"/>
	</head>
}
