package view_files

import (
	"autobutler/pkg/ui/components/body"
	"autobutler/pkg/ui/components/file_explorer"
	"autobutler/pkg/ui/components/header"
	"autobutler/pkg/ui/types"
	"autobutler/pkg/util/fileutil"
	"path/filepath"
)

templ Files(pageState types.PageState) {
	{{ pageState.CurrentPageName = types.PageFiles }}
	<!DOCTYPE html>
	<html lang="en">
		@header.Component()
		@body.Component(pageState) {
			{{
				fullPathDir := filepath.Join(fileutil.GetFilesDir(), pageState.RootDir)
				deviceName, devicePath := fileutil.GetDeviceInfoForPath(fullPathDir)
				files, err := fileutil.StatFilesInDir(fullPathDir, deviceName, devicePath)
			}}
			if err != nil {
				<div class="error-text">Error loading files: { err.Error() }</div>
			} else {
				@file_explorer.Component(pageState, files, pageState.View)
			}
		}
	</html>
}
