package file_navigation

import "autobutler/internal/server/ui/types"
import "autobutler/internal/server/ui/components/icons/left_arrow"

templ Component(pageState types.PageState) {
	<div class="file-navigation">
		<button
			id="nav-back-btn"
			class="btn btn--icon btn--secondary"
			onclick="navigateBack()"
			title="Go Back"
			type="button"
			aria-label="Navigate backward"
		>
			@left_arrow.Component()
		</button>
	</div>
}
