package load

import (
	"autobutler/internal/server/ui/types"
	"path/filepath"
)

templ Component(pageState types.PageState) {
	<div
		hx-trigger="load"
		hx-get={ filepath.Join("/components/files/explorer", pageState.RootDir) }
		hx-target="#file-explorer"
		hx-swap="outerHTML"
	></div>
}
