package body

import "autobutler/internal/server/ui/components/gradient_overlays"

templ Component() {
	<body class="min-h-screen bg-gradient-to-br from-gray-300 from-gray-400 dark:from-gray-900 dark:to-gray-800">
		<main class="min-h-screen text-black dark:text-white">
			@gradient_overlays.Component()
			<div>
				{ children... }
			</div>
		</main>
	</body>
}
