package body

import (
	"autobutler/internal/server/ui/components/bottomnav"
	"autobutler/internal/server/ui/components/footer"
	"autobutler/internal/server/ui/components/gradient_overlays"
	"autobutler/internal/server/ui/components/landing_nav"
	"autobutler/internal/server/ui/types"
)

templ Component(pageState types.PageState) {
	<body class="site-body">
		<main class="site-main">
			@gradient_overlays.Component()
			<div class="site-fullscreen-col">
				@landing_nav.Component(pageState)
				{ children... }
				@footer.Component()
				@bottomnav.Component(pageState)
			</div>
		</main>
	</body>
}
