package node

import (
	"autobutler/pkg/ui/components/file_explorer/device_badge"
	"autobutler/pkg/ui/components/file_explorer/explorer_context_menu"
	"autobutler/pkg/ui/components/file_explorer/file_context_menu"
	"autobutler/pkg/ui/components/icons/archive"
	"autobutler/pkg/ui/components/icons/folder"
	"autobutler/pkg/ui/components/icons/generic"
	"autobutler/pkg/ui/components/icons/image"
	"autobutler/pkg/ui/components/icons/pdf"
	"autobutler/pkg/ui/components/icons/slideshow"
	"autobutler/pkg/ui/types"
	"autobutler/pkg/util/fileutil"
	"path/filepath"
)

templ Component(pageState types.PageState, file *fileutil.DeviceFileInfo) {
	// TODO: Refactor this into small parts, so we don't do so much spaghetti for folder vs file, but share common bits
	// TODO: this is the page where the greater table is loaded in @brandon
	// Get file type and name
	{{ fileType := fileutil.DetermineFileType(pageState.RootDir, file) }}
	{{ fileName := "" }}
	{{ deviceName := "" }}
	{{ fileSize := int64(0) }}
	if file != nil {
		{{ fileName = file.Name() }}
		{{ deviceName = file.DeviceName }}
		{{ fileSize = file.Size() }}
	}
	{{ nodeClasses := "" }}
	if file != nil {
		{{ nodeClasses = "file-table-row" }}
	}
	<tr
		class={ nodeClasses, "file-node" }
		oncontextmenu="window.ab.toggleFloatingContextMenu(event, this)"
		ondragenter="window.ab.activateDropZoneOnNode(event)"
		ondragover="window.ab.preventDefault(event)"
		ondragleave="window.ab.deactivateDropZoneOnNode(event)"
		ondrop={ templ.JSFuncCall("window.ab.dropOnNode", templ.JSExpression("event"), pageState.RootDir) }
		onclick="window.ab.handleFileNodeClick(event, this)"
		ondblclick="window.ab.handleFileNodeDoubleClick(event, this)"
		ontouchend="window.ab.handleFileNodeTouch(event, this)"
		data-name={ fileName }
		data-file-type={ fileType }
		data-device-name={ deviceName }
	>
		switch fileType {
			case fileutil.FileTypeFolder:
				{{ filePath := filepath.Join("/cirrus", pageState.RootDir, fileName) }}
				<td class="file-table-cell file-table-cell--content" data-href={ filePath }>
					@folder.Component()
					<span class="file-table-name">{ fileName }</span>
					@device_badge.Component(file)
				</td>
				<td class="file-table-cell file-table-size">
					{ fileutil.SizeBytesToString(fileSize) }
				</td>
				<td class="file-table-cell">
					@file_context_menu.Component(pageState, file)
				</td>
			case fileutil.FileTypeSpacer:
				<td colspan="3" class="file-table-cell file-table-cell--spacer" onclick="document.getElementById('file-upload-input').click()" tabindex="0" onkeydown="if (event.key === 'Enter' || event.key === ' ') { window.ab.preventDefault(event); document.getElementById('file-upload-input').click(); }">
					<span class="spacer">Drop files here&#8230;</span>
					@explorer_context_menu.Component(pageState)
				</td>
			default:
				{{ filePath := filepath.Join("/cirrus", pageState.RootDir, fileName) }}
				<td
					class="file-table-cell file-table-cell--clickable"
					data-viewer-path={ filepath.Join("/components/cirrus/viewer", filePath) }
					tabindex="0"
					onkeydown="if (event.key === 'Enter' || event.key === ' ') { window.ab.preventDefault(event); window.ab.handleFileNodeDoubleClick(event, this.closest('tr')); }"
				>
					{{ /* Render the appropriate icon based on the file type */ }}
					switch fileType {
						case fileutil.FileTypePDF:
							@pdf.Component()
						case fileutil.FileTypeSlideshow:
							@slideshow.Component()
						case fileutil.FileTypeImage:
							@image.Component()
						case fileutil.FileTypeArchive:
							@archive.Component()
						default:
							@generic.Component()
					}
					<span class="file-table-name">{ fileName }</span>
					@device_badge.Component(file)
				</td>
				<td class="file-table-cell file-table-size">
					{ fileutil.SizeBytesToString(fileSize) }
				</td>
				<td class="file-table-cell">
					@file_context_menu.Component(pageState, file)
				</td>
		}
	</tr>
}
