package load

import (
	"fmt"
	"html"
)

templ Component(prompt string) {
	<div
		hx-trigger="load"
		hx-get="/api/v1/ai-chat"
		hx-target="this"
		hx-disabled-elt="#messageSubmit"
		hx-swap="outerHTML"
		hx-headers='{"Accept": "text/html"}'
		hx-indicator="#spinner"
		hx-vals={ fmt.Sprintf(`{"prompt": "%s"}`, html.EscapeString(prompt)) }
	></div>
}
