package views

import (
	"autobutler/pkg/calendar"
	"autobutler/pkg/ui/components/body"
	cal "autobutler/pkg/ui/components/calendar"
	"autobutler/pkg/ui/components/header"
	"autobutler/pkg/ui/types"
	"autobutler/pkg/util/deputil"
	"time"
)

templ Calendar(deps deputil.Dependencies, pageState types.PageState) {
	{{ pageState.CurrentPageName = types.PageCalendar }}
	<!DOCTYPE html>
	<html lang="en">
		@header.Component()
		@body.Component(pageState) {
			@cal.Component(deps, calendar.CalendarViewMonth)
		}
	</html>
}

templ CalendarWithTime(deps deputil.Dependencies, pageState types.PageState, targetTime *time.Time) {
	{{ pageState.CurrentPageName = types.PageCalendar }}
	<!DOCTYPE html>
	<html lang="en">
		@header.Component()
		@body.Component(pageState) {
			if targetTime != nil {
				@cal.ComponentWithTime(deps, calendar.CalendarViewMonth, *targetTime)
			} else {
				@cal.Component(deps, calendar.CalendarViewMonth)
			}
		}
	</html>
}
