@use '@/scss/variables.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  // Remove rubber band scrolling
  // https://dsalim.dev/css/2023/05/24/prevent-drag-overscroll-macos.html
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

.site-main-bg {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, $color-gray-900 0%, $color-gray-950 100%);
}
@media (prefers-color-scheme: light) {
  .site-main-bg {
    background: linear-gradient(
      180deg,
      $color-blue-50 0%,
      $color-blue-100 100%
    );
  }
}
