package load

import (
    "fmt"
)

templ Component(rootDir string) {
    <div hx-trigger="load"
         hx-get={fmt.Sprintf("/api/v1/files/explorer/%s", rootDir)}
         hx-target="#file-explorer"
         hx-swap="outerHTML"
         hx-headers='{"Accept": "text/html"}'></div>
}
