package file_viewer

import "autobutler/pkg/ui/components/lib"

templ Component() {
	@lib.Dialog(
		"file-viewer",
		"",
		[]string{
			"/public/vendor/epub.js/jszip.min.js",
			"/public/vendor/epub.js/epub.min.js",
			"/public/vendor/ace/ace.js",
			"/public/scripts/text_editor.js",
		},
	)
}
