package list_view

import (
	"autobutler/pkg/ui/components/file_explorer/node"
	"autobutler/pkg/ui/components/file_explorer/sort_button"
	"autobutler/pkg/ui/components/file_explorer/sort_switcher"
	"autobutler/pkg/ui/types"
	"io/fs"
)

templ Component(pageState types.PageState, files []fs.FileInfo) {
	<div class="file-table-container">
		<table id="file-explorer-table" class="file-table">
			<thead class="file-table-header">
				<tr>
					<th class="file-table-header-cell file-table-header-cell--left">
						@sort_button.Component("name")
					</th>
					<th class="file-table-header-cell file-table-header-cell--right">
						@sort_button.Component("size")
					</th>
					<th class="file-table-header-cell file-table-header-cell--toggle">
						@sort_switcher.Component()
					</th>
				</tr>
			</thead>
			<tbody id="file-explorer-list" class="file-table-body">
				for _, file := range files {
					@node.Component(pageState, file)
				}
				@node.Component(pageState, nil)
			</tbody>
		</table>
	</div>
}
