package explorer_context_menu

import (
	"autobutler/pkg/ui/components/lib"
	"autobutler/pkg/ui/types"
	"autobutler/pkg/util/maputil"
	"fmt"
)

templ Component(pageState types.PageState) {
	{{
		items := maputil.NewOrderedMapFromValues(
			[]string{"New File", "Details"},
			[]*lib.ContextMenuHandlerProps{
				{
					OnClickHandler: fmt.Sprintf("newFile(event, '%s'); window.ab.closeContextMenuFromItem(event);", pageState.RootDir),
				},
				{
					OnClickHandler: "showFolderDetails(event); window.ab.closeContextMenuFromItem(event);"
				},
			},
		)
	}}
	@lib.ContextMenu(items, false)
}
