package explorer_context_menu

import (
	"autobutler/pkg/ui/components/lib"
	"autobutler/pkg/ui/types"
	"autobutler/pkg/util/maputil"
	"fmt"
)

templ Component(pageState types.PageState) {
	@lib.ContextMenu(
		maputil.NewOrderedMapFromValues(
			[]string{"New File", "Details"},
			[]*lib.HandlerProps{
				&lib.HandlerProps{
					OnClickHandler: fmt.Sprintf("newFile(event, '%s'); closeContextMenuFromItem(event);", pageState.RootDir),
				},
				&lib.HandlerProps{
					OnClickHandler: "showFolderDetails(event); closeContextMenuFromItem(event);",
				},
			},
		),
	)
}
