package views

import (
	"autobutler/internal/llm"
	"autobutler/internal/server/ui/components/body"
	"autobutler/internal/server/ui/components/chat"
	"autobutler/internal/server/ui/components/footer"
	"autobutler/internal/server/ui/components/header"
	"time"
)

templ Chat() {
	<!DOCTYPE html>
	<html lang="en">
		@header.Component()
		@body.Component() {
			@chat.Component(
				[]llm.ChatMessage{
					{Role: llm.ChatRoleSystem, Content: "Welcome to the Autobutler!", Timestamp: llm.GetTimestamp(time.Now())},
				},
			)
		}
		@footer.Component()
	</html>
}
