package views

import (
    "autobutler/internal/server/ui/components/body"
    "autobutler/internal/server/ui/components/footer"
    "autobutler/internal/server/ui/components/header"
    "autobutler/internal/server/ui/components/hero"
)

templ Home() {
    <!DOCTYPE html>
    <html lang="en">
        @header.Component()
        @body.Component() {
            @hero.Component()
        }
        @footer.Component()
    </html>
}
