package file_context_menu

import (
	"autobutler/pkg/ui/components/lib"
	"autobutler/pkg/ui/types"
	"autobutler/pkg/util/fileutil"
	"autobutler/pkg/util/maputil"
	"fmt"
	"path/filepath"
)

templ Component(pageState types.PageState, file *fileutil.DeviceFileInfo) {
	<div>
		<button
			class="context-menu-trigger"
			onclick="toggleFloatingContextMenu(event, this.parentElement)"
			aria-label="Open context menu"
			type="button"
			tabindex="0"
		>
			&#x22EE;
		</button>
		{{
			items := maputil.NewOrderedMapFromValues(
				[]string{"Download", "Move/Rename", "File Details", "Delete"},
				[]*lib.HandlerProps{
					&lib.HandlerProps{
						OnClickHandler: fmt.Sprintf("closeContextMenuFromItem(event); window.location.href='%s';", filepath.Join(`/api/v1/files`, pageState.RootDir, file.Name())),
					},
					&lib.HandlerProps{
						OnClickHandler: fmt.Sprintf("closeContextMenuFromItem(event); moveFile(event, '%s', '%s');", pageState.RootDir, file.Name()),
					},
					&lib.HandlerProps{
						OnClickHandler: fmt.Sprintf("closeContextMenuFromItem(event); showFileDetails('%s');", file.Name()),
					},
					&lib.HandlerProps{
						AdditionalClasses: "context-menu-item--danger",
						HTMXTarget:        "#file-explorer",
						HTMXSwap:          "outerHTML",
						HTMXMethod:        "DELETE",
						HTMXRequestPath:   filepath.Join(`/api/v1/files`),
						HTMXVals:          fmt.Sprintf(`{"rootDir":"%s", "filePaths":["%s"]}`, pageState.RootDir, file.Name()),
					},
				},
			)
		}}
		@lib.ContextMenu(items, true)
	</div>
}
