package views

import (
"github.com/exokomodo/exoflow/autobutler/backend/ui/components"
)

templ Home() {
    <!DOCTYPE html>
    <html lang="en">
        @components.Header()
        @components.Body() {
            @components.HeroSection()
        }
        @components.Footer()
    </html>
}
