package grid_view

import (
	"autobutler/pkg/ui/components/file_explorer/device_badge"
	"autobutler/pkg/ui/components/file_explorer/file_context_menu"
	"autobutler/pkg/ui/components/icons/archive"
	"autobutler/pkg/ui/components/icons/folder"
	"autobutler/pkg/ui/components/icons/generic"
	"autobutler/pkg/ui/components/icons/image"
	"autobutler/pkg/ui/components/icons/pdf"
	"autobutler/pkg/ui/components/icons/slideshow"
	"autobutler/pkg/ui/types"
	"autobutler/pkg/util/cirrusutil"
	"fmt"
	"path/filepath"
)

templ Component(pageState types.PageState, files []*cirrusutil.DeviceFileInfo) {
	<div class="grid-view-container">
		<div class="grid-view-grid">
			for _, file := range files {
				@renderGridItem(pageState, file)
			}
		</div>
	</div>
}

templ renderGridItem(pageState types.PageState, file *cirrusutil.DeviceFileInfo) {
	{{
		fileType := cirrusutil.DetermineFileType(pageState.RootDir, file)
		fileName := file.Name()
		isFolder := fileType == cirrusutil.FileTypeFolder
		filePath := filepath.Join("/cirrus", pageState.RootDir, fileName)
		fileSize := cirrusutil.SizeBytesToString(file.Size())
		deviceName := file.DeviceName
	}}
	<div
		class={ "grid-view-item file-node", templ.KV("grid-view-item--folder", isFolder) }
		data-name={ fileName }
		data-is-folder={ fmt.Sprintf("%t", isFolder) }
		data-file-type={ fileType }
		data-device-name={ deviceName }
		oncontextmenu="window.ab.toggleFloatingContextMenu(event, this)"
		onclick="window.ab.handleFileNodeClick(event, this)"
		ondblclick="window.ab.handleFileNodeDoubleClick(event, this)"
		ontouchend="window.ab.handleFileNodeTouch(event, this)"
	>
		if isFolder {
			<div
				class="grid-view-link"
				data-href={ filePath }
			>
				<div class="grid-view-icon-container">
					@folder.Component()
				</div>
				<div class="grid-view-details">
					<div class="grid-view-name" title={ fileName }>{ fileName }</div>
					@device_badge.Component(file)
				</div>
			</div>
		} else {
			<div
				class="grid-view-link"
				data-viewer-path={ filepath.Join("/components/cirrus/viewer", filePath) }
			>
				if fileType == cirrusutil.FileTypeImage {
					{{ thumbnailPath := filepath.Join("/api/v1/thumbnails", pageState.RootDir, fileName) }}
					<div class="grid-view-thumbnail-container">
						<img
							class="grid-view-thumbnail"
							src={ thumbnailPath }
							alt={ fileName }
							loading="lazy"
						/>
					</div>
				} else {
					<div class="grid-view-icon-container">
						@renderFileIcon(fileType)
					</div>
				}
				<div class="grid-view-details">
					<div class="grid-view-name" title={ fileName }>{ fileName }</div>
					if !isFolder && fileSize != "" {
						<div class="grid-view-size">{ fileSize }</div>
					}
					@device_badge.Component(file)
				</div>
			</div>
		}
		@file_context_menu.Component(pageState, file)
	</div>
}

templ renderFileIcon(fileType cirrusutil.FileType) {
	switch fileType {
		case cirrusutil.FileTypePDF:
			@pdf.Component()
		case cirrusutil.FileTypeSlideshow:
			@slideshow.Component()
		case cirrusutil.FileTypeImage:
			@image.Component()
		case cirrusutil.FileTypeArchive:
			@archive.Component()
		default:
			@generic.Component()
	}
}
