package view_cirrus

import (
	"autobutler/pkg/ui/components/body"
	"autobutler/pkg/ui/components/error_message"
	"autobutler/pkg/ui/components/file_explorer"
	"autobutler/pkg/ui/components/header"
	"autobutler/pkg/ui/types"
	"autobutler/pkg/util/cirrusutil"
	"path/filepath"
)

templ Files(pageState types.PageState) {
	{{ pageState.CurrentPageName = types.PageCirrus }}
	<!DOCTYPE html>
	<html lang="en">
		@header.Component()
		@body.Component(pageState) {
			{{
				fullPathDir := filepath.Join(cirrusutil.GetCirrusDir(), pageState.RootDir)
				deviceName, devicePath := cirrusutil.GetDeviceInfoForPath(fullPathDir)
				files, err := cirrusutil.StatFilesInDir(fullPathDir, deviceName, devicePath)
			}}
			if err != nil {
				@error_message.Component("Error loading files: " + err.Error())
			} else {
				@file_explorer.Component(pageState, files, pageState.View)
			}
		}
	</html>
}
