package gradient_overlays

templ Component() {
	<div class="gradient-overlays">
		<div class="gradient-overlay gradient-overlay--top"></div>
		<div class="gradient-overlay gradient-overlay--bottom"></div>
	</div>
}
