package lib

import (
	"autobutler/pkg/util/maputil"
	"fmt"
)

type HandlerProps struct {
	AdditionalClasses string
	OnClickHandler    string
	ButtonAttributes  templ.Attributes
}

templ ContextMenu(onClickHandlers maputil.OrderedMap[string, *HandlerProps], showMenu bool) {
	<div>
		{{ hiddenClass := "" }}
		if !showMenu {
			{{ hiddenClass = "hidden" }}
		}
		<ul
			class={ fmt.Sprintf("context-menu %s", hiddenClass) }
			style="width: 7rem;"
		>
			for name, props := range onClickHandlers.Range() {
				<li>
					<button
						type="button"
						class={ fmt.Sprintf("context-menu-item %s", props.AdditionalClasses) }
						if props.OnClickHandler != "" {
							onclick={ templ.JSUnsafeFuncCall(props.OnClickHandler) }
						}
						{ props.ButtonAttributes... }
					>
						{ name }
					</button>
					<hr/>
				</li>
			}
		</ul>
	</div>
}
