package lib

import (
	"autobutler/pkg/util/maputil"
	"fmt"
	"strings"
)

type HandlerProps struct {
	AdditionalClasses string
	OnClickHandler    string
	HTMXTarget        string
	HTMXSwap          string
	HTMXMethod        string
	HTMXRequestPath   string
	HTMXVals          string
}

templ ContextMenu(onClickHandlers maputil.OrderedMap[string, *HandlerProps]) {
	<div>
		<ul
			class="context-menu hidden"
			style="width: 7rem;"
		>
			for name, props := range onClickHandlers.Range() {
				{{ method := strings.ToUpper(props.HTMXMethod) }}
				<li>
					<button
						type="button"
						class={ fmt.Sprintf("context-menu-item %s", props.AdditionalClasses) }
						if props.OnClickHandler != "" {
							onclick={ templ.JSUnsafeFuncCall(props.OnClickHandler) }
						}
						if props.HTMXTarget != "" {
							hx-target={ props.HTMXTarget }
						}
						if props.HTMXSwap != "" {
							hx-swap={ props.HTMXSwap }
						}
						if props.HTMXVals != "" {
							hx-vals={ props.HTMXVals }
						}
						if method == "GET" {
							hx-get={ props.HTMXRequestPath }
						}
						if method == "POST" {
							hx-post={ props.HTMXRequestPath }
						}
						if method == "DELETE" {
							hx-delete={ props.HTMXRequestPath }
						}
						if method == "PUT" {
							hx-put={ props.HTMXRequestPath }
						}
						if method == "PATCH" {
							hx-patch={ props.HTMXRequestPath }
						}
					>
						{ name }
					</button>
					<hr/>
				</li>
			}
		</ul>
	</div>
}
