package calendar

import (
	"autobutler/pkg/calendar"
	"autobutler/pkg/ui/components/calendar/event_editor"
	"autobutler/pkg/util/deputil"
	"time"
)

templ Component(deps deputil.Dependencies, calendarView calendar.CalendarView) {
	{{ now := time.Now() }}
	<div id="calendar" class="calendar">
		switch calendarView {
			case calendar.CalendarViewMonth:
				@monthView(now, deps)
			case calendar.CalendarViewWeek:
				<p>Week View - Coming Soon</p>
			case calendar.CalendarViewDay:
				<p>Day View - Coming Soon</p>
			default:
				<p>Invalid Calendar View</p>
		}
		<dialog
			id="new-event-dialog"
			class="modal-backdrop"
			data-view-year={ now.Year() }
			data-view-month={ calendar.MonthToInt(now.Month()) }
			closedby="none"
			onclick="if (event.target === event.currentTarget) { event.currentTarget.close(); }"
		>
			@event_editor.Component()
		</dialog>
	</div>
	<script src="/public/scripts/calendar.js"></script>
}

templ ComponentWithTime(deps deputil.Dependencies, calendarView calendar.CalendarView, targetTime time.Time) {
	<div id="calendar" class="calendar">
		switch calendarView {
			case calendar.CalendarViewMonth:
				@monthView(targetTime, deps)
			case calendar.CalendarViewWeek:
				<p>Week View - Coming Soon</p>
			case calendar.CalendarViewDay:
				<p>Day View - Coming Soon</p>
			default:
				<p>Invalid Calendar View</p>
		}
		<dialog
			id="new-event-dialog"
			class="modal-backdrop"
			data-view-year={ targetTime.Year() }
			data-view-month={ calendar.MonthToInt(targetTime.Month()) }
			closedby="none"
			onclick="if (event.target === event.currentTarget) { event.currentTarget.close(); }"
		>
			@event_editor.Component()
		</dialog>
	</div>
	<script src="/public/scripts/calendar.js"></script>
}
