name: Autobutler Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  autobutler-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Templ
        uses: ./.github/actions/setup-templ
      - name: Install dependencies
        run: |
          go mod download
      - name: Build
        run: |
          make build
