name: Test
on:
  workflow_dispatch:
    inputs:
      is-remote:
        description: Whether or not we are testing a remote instance
        type: boolean
        default: false
      remote-url:
        description: The URL where the application is hosted for end-to-end testing
        type: string
        default: https://autobutlerdemo.azurewebsites.net
        required: false
      run-id:
        description: The run ID of the workflow to download the release from
        type: string
        default: ''
        required: false
  workflow_call:
    inputs:
      is-remote:
        description: Whether or not we are testing a remote instance
        type: boolean
        default: false
      remote-url:
        description: The URL where the application is hosted for end-to-end testing
        type: string
        default: https://autobutlerdemo.azurewebsites.net
        required: false
      run-id:
        description: The run ID of the workflow to download the release from
        type: string
        default: ''
        required: false

env:
  BASE_URL: ${{ inputs.is-remote && inputs.remote-url || 'http://localhost:8080' }}

jobs:
  test-e2e:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download release
      if: ${{ !inputs.is-remote }}
      uses: actions/download-artifact@v4
      with:
        run-id: ${{ inputs.run-id }}
        github-token: ${{ github.token }}

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version-file: .nvmrc

    - name: Install dependencies
      run: |
        npm ci

    - name: Install Playwright Browsers
      run: |
        npx playwright install --with-deps

    - name: Start Autobutler
      if: ${{ !inputs.is-remote }}
      run: |
        chmod +x ./artifact/autobutler
        ./artifact/autobutler &

    - name: Run E2E tests
      run: |
        make test/e2e

    - uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
