name: Autobutler Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  autobutler-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Setup sqlc
        uses: ./.github/actions/setup-sqlc
      - name: Setup Templ
        uses: ./.github/actions/setup-templ
      - name: Build
        run: |
          make build
