name: Backend Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
env:
  WORKING_DIR: ${{ github.workspace }}/src/autobutler/backend
defaults:
  run:
    shell: bash
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Install dependencies
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          go mod download
      - name: Build
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          make build