name: exoflow.cloud - CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:
    inputs:
      image-tag:
        description: Image tag to run
        type: string

env:
  WORKING_DIR: ${{ github.workspace }}/apps/exoflow.cloud

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: exokomodo/exoflow-devcontainer:${{ inputs.image-tag || 'latest' }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version-file: .nvmrc

    - name: Install dependencies
      working-directory: ${{ env.WORKING_DIR }}
      run: |
        npm ci

    - name: Build
      working-directory: ${{ env.WORKING_DIR }}
      run: |
        npm run build

    - name: Lint
      working-directory: ${{ env.WORKING_DIR }}
      run: |
        npm run lint

    - name: Generate
      working-directory: ${{ env.WORKING_DIR }}
      run: |
        npm run generate
      
    - name: Build Docker image
      working-directory: ${{ env.WORKING_DIR }}
      run: |
        docker build -f Dockerfile.dev -t exoflow .
