name: Lint
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
      - name: Lint
        run: |
          make lint
