name: Lint
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Templ
        uses: ./.github/actions/setup-templ
      - name: Lint
        run: |
          make lint
      - name: Generate code
        run: |
          make generate
      - name: Tidy
        run: |
          go mod tidy
      - name: Check for uncommitted changes
        run: |
          if ! git diff --exit-code; then
            echo "There are uncommitted changes after linting and generating. Please fix them before committing.";
            exit 1;
          fi
