name: Test autobutler backend
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
env:
  WORKING_DIR: ${{ github.workspace }}/src/autobutler/backend
defaults:
  run:
    shell: bash
jobs:
  test-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            sqlite3 \
            libsqlite3-dev
      - name: Install autobutler backend
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          make venv/bin/butlerapi
      - name: Test
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          make test
