package pdf_viewer

import "path/filepath"

templ Component(filePath string) {
	<iframe
		style="width: 90vw; height: 90vh;"
		src={ filepath.Join("/api/v1/files", filePath) }
		type="application/pdf"
	></iframe>
}
