package pdf_viewer

import "path/filepath"

templ Component(filePath string) {
	<object
		class="book-reader-pdf"
		data={ filepath.Join("/api/v1/files", filePath) }
		type="application/pdf"
		aria-label="PDF Viewer"
	>
		<iframe
			class="book-reader-pdf"
			src={ filepath.Join("/api/v1/files", filePath) }
			title="PDF Viewer"
		></iframe>
	</object>
}
